<div class="row">
  <form class="col s12" 
        name="new_game"
        ng-submit="$ctrl.createGame()">
    <div class="row">

      <div class="input-field col s12">
        <input name="Title"
               id="game_name"
               type="text"
               class="validate"
               required="required"
               ng-model="$ctrl.name">
        <label for="game_name">Title</label>
        <div ng-messages="form.name.$error" 
             ng-if="form.name.$touched">
              <div ng-message="required">Title is required!
              </div>
        </div>
      </div>

      <div class="input-field col s12">
        <input name="Description"
               id="game_description"
               type="text"
               class="validate"
               required="required"
               ng-model="$ctrl.content">
        <label for="game_description">Description</label>
        <div ng-messages="form.content.$error" 
             ng-if="form.content.$touched">
              <div ng-message="required">Content is required!
              </div>
        </div>
      </div>

      <div class="input-field col s12">
        <select>
          <option value="" disabled selected>Select a Studio</option>
          <option ng-repeat="studio in $ctrl.studios" value="{studio.id}">{{ studio.name }}</option>
        </select>
        <label>Studio</label>
      </div>

      <div class="input-field col s12">
        <select>
          <option value="" disabled selected>Select a Genre</option>
          <option ng-repeat="genre in $ctrl.genres" value="{genre.id}">{{ genre.name }}</option>
        </select>
        <label>Genre</label>
      </div>

    </div>
  </form>
</div>