<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
<ul class="right hide-on-med-and-down">
  <li
    ng-class="{active:pane.selected}"
    ng-repeat="pane in $ctrl.panes">
      <a href=""
         ng-click="$ctrl.select(pane)">{{ pane.title }}
      </a>
  </li>
</ul>
<ul class="side-nav" id="mobile-demo">
  <li
    ng-class="{active:pane.selected}"
    ng-repeat="pane in $ctrl.panes">
      <a href=""
         ng-click="$ctrl.select(pane)">{{ pane.title }}
      </a>
  </li>
</ul>

<div
    class="main-content"
    ng-transclude>
</div>