<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Video Game Wiki</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li ui-sref-active="active" class="active">
        <a href="#" ui-sref="home.games">Video Games</a>
      </li>
      <li ui-sref-active="active" class="active">
        <a href="#" ui-sref="home.studios">Studios</a>
      </li>
      <li ui-sref-active="active" class="active">
        <a href="#" ui-sref="home.genres">Genres</a>
      </li>
      <li ui-sref-active="active" class="active">
        <a href="#" ui-sref="home">Profile</a>
      </li>
    </ul>
  </div>
</nav>